:root {
    --bg-primary: #0b0f0e;
    /* preto esverdeado */
    --bg-secondary: #0f1a14;
    /* verde escuro */
    --accent: #4caf50;
    /* verde agro/tech */
    --text-primary: #EAEAEA;
    --text-secondary: #a0aec0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    line-height: 1.6;
}

.app-wrapper {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(80deg, #000000, #00595E);
}

:root {
    --navbar-height: 65px;
}

html {
    scrollbar-gutter: stable;
}

.app-wrapper.modal-open {
    overflow: hidden;
    height: 100vh;
}